<div [ngBusy]="{busy: busy, backdrop: true}"></div>
<div class="container search-container">
  <br>
  <br>
  <br>
  <div class="row" *ngIf="queryImageDetails">
    <div class="col-lg-3 col-md-4 mb-4 product-card">
      <a href="#"><img class="card-img-custom" src="{{apiLink + '/images/' + queryImageDetails?.image_id }}" alt=""></a>
    </div>
    <div class="col-lg-9 col-md-8 mb-4">
      <div class="panel-card card">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{queryImageDetails?.article_type}}</a>
          </h4>
          <p class="card-text">{{queryImageDetails?.product_display_name}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <h4>Recommended Products</h4>
    </div>
  </div>
  
  <div class="row">

    <div *ngFor="let product of recommendedImages; let ind=index" class="col-lg-3 col-md-4 mb-4 product-card">

      <a [routerLink]="['/search']" [queryParams]="{ image_id: product.image_id}" (mouseover)="showDetails('in', $event)" (mouseout)="showDetails('out', $event)"><img
          class="card-img-custom" src="{{apiLink + '/images/' + product.image_id }}" alt=""></a>
      <div class="card my-card">
        <div class="card-body my-card-body">
          <h4 class="card-title">
            <a href="#">{{product.article_type}}</a>
          </h4>
          <p class="card-text">{{product.product_display_name}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

  </div>
</div>